flows/MessageCenter/Microsoft.Flow/flows/fea295c0-a287-46e1-8e06-af08d0f10509/definition.json
{"name":"d2ba8125-4078-4303-b64f-25373319f2a1","id":"/providers/Microsoft.Flow/flows/d2ba8125-4078-4303-b64f-25373319f2a1","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Message Center","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4af50d87-e728-484e-874c-3f4536b38fee","type":"User","tenantId":"aecb54e0-7430-409d-86a4-7639c743eee7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-05-24T20:19:27.8778658Z","connectionKeySavedTimeKey":"2024-05-24T20:19:27.8778658Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"Eastern Standard Time","schedule":{"hours":["20"]}},"metadata":{"operationMetadataId":"65987370-3e10-41c2-b203-9faf2e46fa5c"},"type":"Recurrence"}},"actions":{"Get_Access_Token_to_Graph":{"runAfter":{"Set_Client_Secret":["Succeeded"]},"metadata":{"operationMetadataId":"3646b172-418c-4278-bd23-af1d4e430d95"},"type":"Http","inputs":{"uri":"https://login.microsoftonline.com/aecb54e0-7430-409d-86a4-7639c743eee7/oauth2/v2.0/token","method":"POST","headers":{"Content-Type":"application/x-www-form-urlencoded"},"body":"client_id=@{variables('client_id')}&client_secret=@{variables('client_secret')}&grant_type=client_credentials&scope=https://graph.microsoft.com/.default"}},"Set_Client_ID":{"runAfter":{},"metadata":{"operationMetadataId":"c57b140a-6c2e-4a0f-b0ea-7f5d930528fd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"client_id","type":"string","value":"c7b68288-b6c2-4dcc-8b1e-29d82070fa62"}]}},"Set_Client_Secret":{"runAfter":{"Set_Client_ID":["Succeeded"]},"metadata":{"operationMetadataId":"37e2f10a-a5e1-4dfc-95c0-5ca61fa6ec0a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"client_secret","type":"string","value":"POC8Q~N9aZCEiMYQyorMPOPFeh5SmQMHA-1aCcN6"}]}},"Set_Access_Token":{"runAfter":{"Get_Access_Token_to_Graph":["Succeeded"]},"metadata":{"operationMetadataId":"ac0ed603-bda4-49e9-9029-a7033ac843d4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"access_token","type":"string","value":"Bearer @{body('Get_Access_Token_to_Graph')['access_token']}"}]}},"Get_Messages":{"runAfter":{"Set_Access_Token":["Succeeded"]},"metadata":{"operationMetadataId":"fce44168-5834-4d73-b09c-3173fe31cfc1"},"type":"Http","inputs":{"uri":"https://graph.microsoft.com/v1.0/admin/serviceAnnouncement/messages","method":"GET","headers":{"Authorization":"@{variables('access_token')}"},"queries":{"$orderby":"lastModifiedDateTime  desc","$filter":"lastModifiedDateTime gt @{formatDateTime(addDays(utcNow(), -45), 'yyyy-MM-dd')}","$top":"999"}}},"Apply_to_each":{"foreach":"@body('Get_Messages')['value']","actions":{"Get_Message_Item":{"runAfter":{"Loop_Through_Tags":["Succeeded"]},"metadata":{"operationMetadataId":"99f4333d-a325-4097-bdfd-be5fc1395d28"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/message-center","table":"7286b386-0f99-4be5-88e8-3fa9ccdfe5a6","$filter":"MessageId eq '@{variables('message')['MessageId']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_item":{"metadata":{"operationMetadataId":"e30e599b-96d5-4835-8ff7-fdea5f483f98"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/message-center","table":"7286b386-0f99-4be5-88e8-3fa9ccdfe5a6","item/Title":"@{variables('message')['Title']}","item/MessageId":"@{variables('message')['MessageId']}","item/Summary":"@variables('summary')","item/Category/Value":"@{variables('message')['Category']}","item/Content":"@{variables('message')['Content']}","item/Message":"@{variables('message')['Message']}","item/Platform":"@variables('platforms')","item/RoadMapId":"@variables('roadmapId')","item/Services":"@variables('services')","item/Severity/Value":"@{variables('message')['Severity']}","item/Tags":"@variables('tags')","item/PublishedDate":"@{variables('message')['PublishedDate']}","item/IsMajorChange":"@variables('message')['IsMajorChange']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Message_Item":["Succeeded"]},"else":{"actions":{"Update_item":{"metadata":{"operationMetadataId":"aa4545f2-bc06-4b85-a32d-946053d41dcc"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/message-center","table":"7286b386-0f99-4be5-88e8-3fa9ccdfe5a6","id":"@first(outputs('Get_Message_Item')?['body/value'])['Id']","item/Title":"@{variables('message')['Title']}","item/MessageId":"@{variables('message')['MessageId']}","item/Summary":"@variables('summary')","item/Category/Value":"@{variables('message')['Category']}","item/Content":"@{variables('message')['Content']}","item/Message":"@{variables('message')['Message']}","item/Platform":"@variables('platforms')","item/RoadMapId":"@variables('roadmapId')","item/Services":"@variables('services')","item/Severity/Value":"@{variables('message')['Severity']}","item/Tags":"@variables('tags')","item/PublishedDate":"@{variables('message')['PublishedDate']}","item/IsMajorChange":"@variables('message')['IsMajorChange']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@length(outputs('Get_Message_Item')?['body/value'])",0]}]},"metadata":{"operationMetadataId":"cc253b06-a7e4-40f9-9acd-381d8af9206c"},"type":"If"},"Initialize_Message_Variable":{"metadata":{"operationMetadataId":"1ab71ff9-9be8-4437-9350-dc3d3865ed70"},"type":"SetVariable","inputs":{"name":"message","value":{"Category":"@items('Apply_to_each')['category']","Content":"@items('Apply_to_each')['body']['content']","message":"@items('Apply_to_each')","IsMajorChange":"@items('Apply_to_each')['isMajorChange']","MessageId":"@items('Apply_to_each')['id']","PublishedDate":"@items('Apply_to_each')['lastModifiedDateTime']","Severity":"@items('Apply_to_each')['severity']","Title":"@items('Apply_to_each')['title']"}}},"Loop_through_details":{"foreach":"@items('Apply_to_each')['details']","actions":{"Switch":{"cases":{"Case_RoadmapIds":{"case":"RoadmapIds","actions":{"Set_roadmap_id":{"type":"SetVariable","inputs":{"name":"roadmapId","value":"@{items('Loop_through_details')['value']}"}}}},"Case_Summary":{"case":"Summary","actions":{"Set_summary":{"type":"SetVariable","inputs":{"name":"summary","value":"@{items('Loop_through_details')['value']}"}}}},"Case_Platforms":{"case":"Platforms","actions":{"Set_platforms":{"type":"SetVariable","inputs":{"name":"platforms","value":"@items('Loop_through_details')['value']"}}}}},"default":{"actions":{}},"expression":"@items('Loop_through_details')['name']","metadata":{"operationMetadataId":"f07911e2-1dc2-412a-a3dd-faeee3344725"},"type":"Switch"}},"runAfter":{"clear_platforms":["Succeeded"]},"metadata":{"operationMetadataId":"423cc5ec-8f9d-46b2-902c-3f513094f52c"},"type":"Foreach"},"Loop_Through_Services":{"foreach":"@items('Apply_to_each')['services']","actions":{"Append_service":{"type":"AppendToArrayVariable","inputs":{"name":"services","value":{"Value":"@{items('Loop_Through_Services')}"}}}},"runAfter":{"clear_services":["Succeeded"]},"metadata":{"operationMetadataId":"bfe1bef3-17f8-4e28-a53e-857f0c600ba9"},"type":"Foreach"},"clear_services":{"runAfter":{"Loop_through_details":["Succeeded"]},"type":"SetVariable","inputs":{"name":"services","value":[]}},"clear_tags":{"runAfter":{"Loop_Through_Services":["Succeeded"]},"type":"SetVariable","inputs":{"name":"tags","value":[]}},"Loop_Through_Tags":{"foreach":"@items('Apply_to_each')['tags']","actions":{"Append_tag":{"type":"AppendToArrayVariable","inputs":{"name":"tags","value":{"Value":"@{items('Loop_Through_Tags')}"}}}},"runAfter":{"clear_tags":["Succeeded"]},"type":"Foreach"},"clear_roadmapId":{"runAfter":{"Initialize_Message_Variable":["Succeeded"]},"type":"SetVariable","inputs":{"name":"roadmapId","value":"@{null}"}},"clear_platforms":{"runAfter":{"clear_summary":["Succeeded"]},"type":"SetVariable","inputs":{"name":"platforms","value":"@{null}"}},"clear_summary":{"runAfter":{"clear_roadmapId":["Succeeded"]},"type":"SetVariable","inputs":{"name":"summary","value":"@{null}"}}},"runAfter":{"tags":["Succeeded"]},"metadata":{"operationMetadataId":"ecaf6197-db75-4817-8709-047e7339ca10"},"type":"Foreach"},"message":{"runAfter":{"Get_Messages":["Succeeded"]},"metadata":{"operationMetadataId":"0623c01b-91ee-4ae8-8401-6dd8c744b074"},"type":"InitializeVariable","inputs":{"variables":[{"name":"message","type":"object","value":{}}]}},"services":{"runAfter":{"roadmapId":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"services","type":"array","value":[]}]}},"tags":{"runAfter":{"summary":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"tags","type":"array","value":[]}]}},"roadmapId":{"runAfter":{"platforms":["Succeeded"]},"metadata":{"operationMetadataId":"0623c01b-91ee-4ae8-8401-6dd8c744b074"},"type":"InitializeVariable","inputs":{"variables":[{"name":"roadmapId","type":"string"}]}},"summary":{"runAfter":{"services":["Succeeded"]},"metadata":{"operationMetadataId":"0623c01b-91ee-4ae8-8401-6dd8c744b074"},"type":"InitializeVariable","inputs":{"variables":[{"name":"summary","type":"string"}]}},"platforms":{"runAfter":{"message":["Succeeded"]},"metadata":{"operationMetadataId":"0623c01b-91ee-4ae8-8401-6dd8c744b074"},"type":"InitializeVariable","inputs":{"variables":[{"name":"platforms","type":"string","value":"\"\""}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}